PORT=5000
NODE_ENV=development

# Database
MONGO_URI=mongodb+srv://bhimadev26_db_user:jsL6yYJ1f6QBxHvY@67.osprb3a.mongodb.net/?appName=67

# JWT Authentication
JWT_SECRET=your_super_secret_jwt_key_here_change_in_production
JWT_EXPIRES_IN=7d

# Razorpay Credentials
RAZORPAY_KEY_ID=rzp_test_TbrnzAQrMhu8d1
RAZORPAY_KEY_SECRET=57jOGSJbLJ4U1X2k7V0LXoxQ

# Nodemailer / Email Service
EMAIL_USER=bhimabaskey8810692291@gmail.com
EMAIL_PASS=gzoe dtti qndl xidi
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587

# Google Maps API
GOOGLE_MAPS_API_KEY=AIzaSyDpvowX1Wyib9ZPM75h1uSBy5Cbscn25nc
